@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    font-family: "Poppins",sans-serif;
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
   
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f4f4;
}
.image {  
    position: relative;
    border-radius: 50%;
    background-color: red;
    height: 150px;
    width: 150px;
    padding: 3px;
    margin-bottom: 10px;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    background-color: white;
    width: 100%;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.1);
    padding: 25px;

}
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border: 3px solid white;
    
}
.profile-image{
    position: relative;
    top:12px;
    border-radius: 50%;
    top: 0.2px;
    
}
.profile-card .text-data{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.text-data .name{
   font-weight: 500;
   font-size: 20px;
}
.jop{
    margin-bottom: 10px;
}
.profile-card .media-button{
    display: flex;
    align-items: center;


}
.profile-card .link{
    height: 34px;
    width: 34px;
    justify-content: center ;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    margin: 0 8px;
    
}
.profile-card .buttons{
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.buttons .button{
    background-color: red;
    border-radius: 25px;
    margin: 0 10px;
    padding: 10px 44px;
    border: none;
    font-weight: 500;
   font-size: 14px;
   cursor: pointer;
   transition: all 0.3 ease;
}
.buttons .button:hover {
    background-color: rgb(255, 89, 89);
}
